spring:
  jpa:
    hibernate:
      #ddl-auto: create
      ddl-auto: update
    defer-datasource-initialization: true

    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true


  sql:
    init:
      #mode: always #h2 설정
      mode: always

  config:
    import: "optional:classpath:application-local.yaml"

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration-ms: 604800000
  refresh-token-expiration-ms: 604800000

app:
  s3:
    bucket: feple
    prefix: artist-photos
    presign-minutes: 10

